.navigation {
    background-color: grey;
    width: 100%;
    display: table;
    margin: auto;
    height: 10%;
    border-style: double;
}

.navTable{
  margin: auto;
}

.navLinks{
  font-size: 20px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 30px;
    padding: 0px;
}

h1 {
    margin: 20px;
    padding: 0;
    text-align: center;
}

a{
    color:black;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
