button {
  background-color: #abfff2;
  border: none;
  padding: 8px 20px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 5px;
  border-style: outset;
  font-family: sans-serif;
}

.randomButton {
  margin-left: 30px;

}

button:hover {
  background-color: #8ad1c6;
}

table {
  margin-left: 50px;
}

input[type=text] {
  border-radius: 12px;
  padding: 7px;
}

#fact {
  text-align: center;
  font-family: sans-serif;
}

.guidance{
  line-height: 0px;
  font-weight: bold;
  padding-left: 50px;
}

#error {
  color: #911616;
  font-weight: bold;
  font-size: 17px;
  font-family: Verdana, Tahoma, sans-serif;
  padding-left: 50px;
}
