button {
  background-color: #a1e6db;
  border: none;
  padding: 8px 20px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 20px;
  border-style: outset;
}

.randomButton {
  margin-left: 30px;

}

button:hover {
  background-color: #62b3a6;
}

table {
  margin-left: 50px;
}


input[type=text] {
  border-radius: 12px;
  padding: 7px;
}

#fact {
  text-align: center;
  font-family: sans-serif;
}
