.statesLi {
    list-style: none;
    font-size: 30px;
    text-align: left;
    line-height: 50px;
    width: 100%;
    padding: 10px;
}

.statesTable {
    margin: auto;
    border-radius: 40px;
    border-style: ridge;
    border-color: #e3ce96;
    background-color: #9145a3;
    margin-top: 10px;
}

